<div class="browser document_browser">
  <h1><%= t('.title') %></h1>
  <div class="list documents">
    <% @documents.each do |document| %>
      <% div_for(document, :class => 'item') do  %>
        <% if can? :manage, document %>
          <div class="floating_actions">
            <%= iminbutton_to t('.edit'), "pen_alt_stroke", edit_document_path(document) %>
          </div>
        <% end %>

        <%= link_to_ajax document.title, document_path(document), :class => 'title' %>
        <%= content_tag(:span, "Por: #{document.author}", :class => 'property author') unless document.author.blank? %>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <% if can? :manage, @project %>
      <%= ibutton_to t('.new_document'), 'plus_alt', new_project_document_path(@project) %>
    <% end %>
  </div>
</div>

