<div id="page">
  <div class="document">
    <% if can? :manage, document %>
      <div class="floating_actions">
        <%= iminbutton_to t('.debug'), "bolt", edit_project_document_path(document.project, document) %>
        <%= iminbutton_to t('.edit'), "pen_alt_stroke", edit_project_document_path(document.project, document) %>
      </div>
    <% end %>
    <h1><%= document.title %></h1>
  </div>

  <div id="clips">
    <%= render document.clips %>
  </div>

  <% if can? :manager, document %>
    <%= slots_for document, nil %>
  <% end %>

</div>