<div id="page">
  <%= debug document %>
  <h1><%= document.title %></h1>

  <div id="clips">
    <% document.clips.each do |clip| %>
      <% div_for clip do %>
        <%= slots_for document, clip %>
        <%= debug clip %>
        <%= clip.body_rendered  %>
      <% end %>
    <% end %>
  </div>

  <% if can? :manager, document %>
    <%= slots_for document, nil %>
  <% end %>

</div>