<!-- Documents - the document -->
<div id="page">
  <div id="document_<%= document.id %>" class="head document">
    <% if can? :manage, document %>
      <div class="floating_actions">
        <%= iminbutton_to t('.debug'), "bolt", edit_document_path(document) %>
        <%= iminbutton_to t('.edit'), "pen_alt_stroke", edit_document_path(document) %>
      </div>
    <% end %>
    <h3><%= link_to_ajax @project.title, project_project_call_path(@project) %></h3>
    <h1 class="title"><%= h document.title %></h1>
    <%= content_tag(:p, h(document.description), :class => 'description') unless document.description.blank? %>
    <%= content_tag(:p, h(document.author), :class => 'author') unless document.author.blank? %>
  </div>

  <!-- clips -->
  <div id="clips">
    <%= render document.clips %>
  </div>

  <% if can? :manager, document %>
    <%= slot_for document %>
  <% end %>

  <div class="license">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Licencia de Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported</a>.
  </div>
</div>