
<div class="dialog">
  <h2><%= @document.new_record? ? 'Añadir nuevo archivo' : 'Editar archivo' %></h2>
  <%= content_tag(:h1, h(@document.title)) unless @document.new_record? %>
  <% semantic_form_for(@document) do |form| %>
    <%= form.error_messages %>
    <% form.inputs do %>
      <%= form.input :title %>
    <% end %>
    <% form.buttons do %>
      <%= form.commit_button %>
    <% end %>
  <% end %>
</div>