<div class="dialog">
  <% semantic_form_for @project do |form| %>
    <h1>Editar la investigaci贸n '<%= h @project.title %>'</h1>
    <%= form.error_messages %>
    <% form.inputs do %>
      <%= form.input :title %>
      <%= form.input :description %>
      <%= form.input :stage, :as => :select, :include_blank => false,
        :collection => { 'Presentaci贸n de propuestas'=> 'calls', 'Edici贸n colectiva' => 'edition'} %>
      <%= form.input :visibility, :as => :select, :include_blank => false,
        :collection => { 'Visible a cualquiera'=> 'public', 'Visible s贸lo a colaboradores' => 'private'} %>
    <% end %>
    <% form.buttons do %>
      <%= form.commit_button %>
    <% end %>
  <% end %>
</div>