<!-- Projects - project (project document) -->
<div id="page">
  <div class="head">
    <h3><%= link_to_ajax project.title, project_project_call_path(project) %></h3>
    <h1><%= "Investigaci贸n #{project.title}" %></h1>
    <%= content_tag(:p, h(project.description), :class => 'description') unless project.description.blank? %>
  </div>


  <div class="bloq collaborators">
    <h2>Colaboradorxs en esta investigaci贸n (<%= project.permissions.size %>)</h2>
    <table>
      <% project.permissions.each do |permission| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= link_to_ajax permission.user.name, user_path(permission.user) %></td>
          <td><%= permission.level %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="bloq properties">
    <h2>Configuraci贸n de la investigaci贸n</h2>
    <table>
      <% project.properties.keys.each do |key| %>
        <tr class="<%= cycle('even', 'odd') %>"><td><%= key %></td><td><%= project.properties[key] %></td></tr>
      <% end %>
    </table>
  </div>
</div>