<ul id="site_navigation">
  <%= render '/layouts/site_navigation' %>
</ul>

<div id="messages">
  <div id="current_user">
    <% if current_user %>
      <%= link_to current_user.name, '#', :rel => "dialog:#{close_user_sessions_path(:url => request.path)}" %>
    <% else %>
      <%= dialog_to t('.login'), new_user_sessions_path(:url => request.path) %>
    <% end %>
  </div>

  <div id="NOcurrent_project">
    <% if has_project? %>
      <%= current_project.title %>
    <% end %>
  </div>

  <div id="NOplace">
  </div>

  <div id="NOflash">
  </div>
</div>

<ul id="user_navigation">
  <%= render '/layouts/user_navigation' %>
</ul>
