<ul id="site_navigation">
  <%= render '/layouts/site_navigation' %>
</ul>

<div id="messages">
  <div id="current_user">
    <% if current_user %>
      <%= link_to current_user.name, root_path %>
    <% else %>
      <%= dialog_to 'login', new_user_session_path(:url => request.path) %>
    <% end %>
  </div>

  <div id="current_project">
    <% if has_project? %>
      <%= current_project.title %>
    <% end %>
  </div>

  <div id="place">
    <%= yield :place  %>
  </div>

  <div id="flash">
  </div>
</div>

<ul id="user_navigation">
  <% if current_user %>
    <%= navigate_to :login, project_documents_path(@project)  %>
    <%= navigate_to :contact, project_documents_path(@project)  %>
    <%= navigate_to :calendar, project_documents_path(@project)  %>
  <% end %>
</ul>
