<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" href="/booka.ico" type="image/x-icon" />
    <title>Plataformaboka.net</title>
    <%=  stylesheet_link_tag('booka', 'icons') %>
    <link  href="//fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <% if RAILS_ENV == 'production' %>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
      <script src="http://js.pusherapp.com/1.6/pusher.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="http://cdn.jquerytools.org/1.1.2/tiny/jquery.tools.min.js"></script>
    <% else %>
      <%= javascript_include_tag 'jquery.min.js', 'pusher.min.js', 'jquery.tools.min.js' %>
    <% end %>
    <%= sprockets_include_tag if @remote %>
    <%= javascript_include_tag 'wymeditor/jquery.wymeditor.pack' %>
  </head>
  <body>
    <div id="workspace">
      <div id="left">
        <ul id="site_navigation">
          <%= render '/layouts/site_navigation' %>
        </ul>
        <div id="browser_viewport">
          <%= yield :browser %>
        </div>
      </div>
      <div id="center">
        <div id="user_controls">
          <a id="plataformabooka" href="#">Plataformabooka.net > </a>
          <a id="current_project" href="#"></a>
          <div id="current_user">
          </div>
          <div id="working">Trabajando...</div>
        </div>
        <div id="content_viewport">
          <div id="content">
            <%= yield  %>
          </div>
        </div>
        <div id="talk_controls">
          <div id="online_users">Personas conectadas: 0</div>
          <div id="unreaded_messages">Mensajes sin leer: 0</div>
        </div>
      </div>
      <div id="right">
        <ul id="user_navigation">
          <%= render '/layouts/user_navigation' %>
        </ul>
        <div id="comm_viewport">
          <div id="communicator">
            <div class="output"></div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/ga' %>
  </body>
</html>