<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield :title %></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <%=  stylesheet_link_tag('booka', 'icons') %>
  </head>
  <body>
    <div id="workspace">
      <div id="navigation">
        <%= render '/layouts/navigation' %>
      </div>
      <div id="main">
        <div id="browser">
          <%= yield :browser %>
        </div>
        <div id="content">
          <div id="content_viewport">
            <%= yield  %>
          </div>
        </div>
        <div id="comm">
          <%= yield :comm %>
        </div>
      </div>
    </div>
  </body>
</html>