<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" href="/booka.ico" type="image/x-icon" />
    <title><%= yield :title %></title>
    <%=  stylesheet_link_tag('booka', 'icons') %>
    <% if RAILS_ENV == 'production' %>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
      <script src="http://js.pusherapp.com/1.6/pusher.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="http://cdn.jquerytools.org/1.1.2/tiny/jquery.tools.min.js"></script>
    <% else %>
      <%= javascript_include_tag 'jquery.min.js', 'pusher.min.js', 'jquery.tools.min.js' %>
    <% end %>
    <%= sprockets_include_tag if @remote %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' , 'ckeditor/adapters/jquery.js' %>
  </head>
  <body>

    <% @workspace_settings ||= {:browser => true, :comm => true} %>

    <div id="workspace">
      <div id="navigation">
        <%= render '/layouts/navigation' %>
      </div>
      <div id="main">
        <% if @workspace_settings[:browser] %>
          <div id="browser_viewport">
            <%= yield :browser %>
          </div>
        <% end %>
        <div id="content_viewport" class="<%= 'has_browser' if @workspace_settings[:browser] %> <%= 'has_comm' if @workspace_settings[:comm] %>">
          <div id="content">
            <%= yield  %>
          </div>
        </div>
        <% if @workspace_settings[:comm] %>
          <div id="comm_viewport">
            <div id="communicator">
              <div class="output">...</div>
              <div class="input">
                <% form_tag(pusher_trigger_path) do  %>
                  <%= hidden_field_tag 'channel_name' %>
                  <%= hidden_field_tag 'event_name' %>
                  <%= hidden_field_tag 'event[session_id]', session.id %>
                  <%= text_field_tag 'event[body]', '' %>
                  <input type="submit" value="Enviar" />
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/ga' %>
  </body>
</html>